//Primary

$Light-Cyan: hsl(193, 38%, 86%);
$Neon-Green: hsl(150, 100%, 66%);

//Neutral

$Grayish-Blue: hsl(217, 19%, 38%);
$Dark-Grayish-Blue: hsl(217, 19%, 24%);
$Darker-Grayish-Blue: hsl(210, 21%, 13%);

$font: "Manrope", sans-serif;
